<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <% include('partials/navigation.ejs'); %>
  </header>
  <main>
    <h1><%= title %></h1>
    <section>
      <img src="<%= image %>" alt="<%= title %>">
      <p><%= details %></p>
    </section>
  </main>
  <footer>
    <p>&copy; 2023, CSE Motors</p>
  </footer>
</body>
</html>
