<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <header>
    <%- include('partials/header') %>
    <%- include('partials/navigation') %>
  </header>
  <main>
    <h1><%= title %></h1>
    <section>
      <p>Details for Truck classification go here...</p>
    </section>
  </main>
  <footer>
    <%- include('partials/footer') %>
  </footer>
</body>
</html>
