<main>
    <h1><%= title %></h1>
    
    <!-- Classification Grid -->
    <section id="vehicle-grid">
      <%- grid %>
    </section>
  
    <!-- Vehicle Details -->
    <section id="vehicle-details">
      <h2><%= vehicle.inv_make %> <%= vehicle.inv_model %> - <%= vehicle.inv_year %></h2>
      <img src="<%= vehicle.inv_image %>" alt="Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %>">
      
      <p><strong>Price:</strong> $<%= vehicle.inv_price.toLocaleString("en-US") %></p>
      <p><strong>Mileage:</strong> <%= vehicle.inv_miles.toLocaleString("en-US") %> miles</p>
      <p><strong>Description:</strong> <%= vehicle.inv_description %></p>
      <p><strong>Color:</strong> <%= vehicle.inv_color %></p>
    </section>
  </main>
  