<%- include('../layouts/layout') %>
<main>
  <div class="vehicle-container">
    <img src="<%= vehicle.image %>" alt="<%= vehicle.make %> <%= vehicle.model %>" />
    <div class="vehicle-details">
      <h1><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></h1>
      <p><strong>Price:</strong> $<%= vehicle.price.toLocaleString() %></p>
      <p><strong>Mileage:</strong> <%= vehicle.mileage.toLocaleString() %> miles</p>
      <p><%= vehicle.description %></p>
    </div>
  </div>
</main>
<%- include('../partials/footer') %>
