<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <header>
    <%- include('partials/header') %>
  </header>
  <main class="error-page">
    <h1><%= title %></h1>
    <p><%= message %></p>
    <a href="/">Return to Homepage</a>
  </main>
  <footer>
    <%- include('partials/footer') %>
  </footer>
</body>
</html>
